.container{
  max-width: 1220px;
  padding: 0 35px;
  margin: auto;
}
.go-top {
  position: fixed;
  font-size: 40px;
  left: 100px;
  color: red;
  z-index: 999;
  bottom: 50px;
}
.app-content{
  display: flex;
  margin-top: -25px;
  padding-top: 45px;
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.aside{
  margin-left: auto;
}
.go-top img {
  background-color: #104F95;
  border: 3px solid rgba(255, 255, 255, 0.794);
  border-radius: 50%;
  padding: 10px;
  height: 50px;
  width: 50px;
  transition: all 0.3s ease-out 0s;
}

.go-top img:hover {
  background-color: #FFBB00;
  border: 3px solid rgba(0, 0, 0, 0.63);
}
@media only screen and (max-width : 500px) {
.go-top{
  left: 15px;
  bottom: 15px;
}
.go-top img{
  width: 40px;
  height: 40px;
}
}